name: 001-TEST-VERSION

on: 
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 1. 下载代码
      - uses: actions/checkout@v4

      # 2. 设置 Java 环境
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # 3. 设置 Flutter 环境
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      # 4. 关键步骤：强行修复零件版本冲突
      - name: Fix dependency conflict
        run: |
          flutter pub add intl:^0.20.2
          flutter pub upgrade

      # 5. 获取所有零件
