name: 001-TEST-VERSION

on: 
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Make executable
        run: chmod +x gradlew

      - name: Build APK
        # 使用最稳的 Debug 打包命令
        run: ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: My-BeeCount-APK
          path: "**/*.apk"
